<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
    <%= hidden_field_tag 'student[devise_id]', current_user.id %>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :is_crasher %><br>
    <%= f.check_box :is_crasher %>
  </div>
  <div class="field">
    <%= f.label :is_host %><br>
    <%= f.check_box :is_host %>
  </div>
  <div class="field">
    <%= f.label :crashable_type, 'If you are a host, what sleeping arrangement do you have to offer? (ex \'bedroom\', \'Couch\' etc)' %><br>
    <%= f.text_field :crashable_type %>
  </div>
  <div class="field">
    <%= f.label :school %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :zip, "Zip Code where you usually Crash" %><br>
    <%= f.number_field :zip %>
  </div>
    <div class="field">
    <%= f.label :hosting_zip, "If you're a host, input the zipcode where you intend to host" %><br>
    <%= f.number_field :hosting_zip %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
