<p id="notice"><%= notice %></p>

<div class='left-panel'>
  <% if @student.is_host %>
    <h3>Is your <%= @student.crashable_type %> available?</h3>
    <%= form_for(@student) do |f| %>
      <div class="field">
        <%= f.check_box :crashable, class: "cyan accent-2" %>
        <%= f.label :crashable, "#{@student.crashable_type} Available?"%><br>
      </div>
      <div class="actions">
        <%= f.submit "Update Availability", class: "cyan accent-2 waves-effect btn black-text" %>
      </div>
    <% end %>
    <% if @unrated_crashes != [] %>
      <h3>Unrated Crashes</h3>
      <p>Please rate your experience with the following crashers:</p>
      <% @unrated_crashes.each do |crash| %>
        <ul>
          <li><%= crash.crasher.full_name %> crashed at your place on <%= crash.date.strftime('%x') %></li>
          <li>They offered you the following: <%= crash.item_for_exchange %></li>
          <li><%= link_to 'Click here to review this crash', new_review_path(crash: crash.id)%> </li>
        </ul>
      <% end %>
    <% end %>
  <% end %>

  <h3>Places to stay in <%= @student.zip %></h3>
  <% if @potential_crashes %>
    <ul>
      <% @potential_crashes.each do |host| %>
        <li><%= host.first_name %> has a <%= host.crashable_type %> in <%= @student.zip %>! <%= link_to 'Click here to find out more!', new_crash_path(host_id: host.id) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No Potential crashes in your area! Invite your friends or search a new area!</p>
  <% end %>
  <h4>Search a different Zip Code</h4>
  <%= form_for(@student) do |f| %>
      <div class="field">
        <%= f.label :zip, "Enter Zip Code below"%><br>
        <%= f.number_field :zip %>
      </div>
      <div class="actions">
        <%= f.submit "Search", class: "cyan accent-2 waves-effect btn black-text" %>
      </div>
  <% end %>
</div>
<div class="right-panel">
<%= render partial: "/crashes/crash_listings", locals: { crashes: @crashes, requested_crashes: @requested_crashes, hostings: @hostings, pending_hostings: @pending_hostings, errors: @errors } %>
</div>
<footer>
<%= link_to 'Back', root_path %>
</footer>
