<p id="notice"><%= notice %></p>

<% if @student.is_host %>
  <h3>Is your <%= @student.crashable_type %> available?</h3>
  <%= form_for(@student) do |f| %>
    <div class="field">
      <%= f.check_box :crashable, class: "cyan accent-2" %>
      <%= f.label :crashable, "#{@student.crashable_type} Available?"%><br>
    </div>
    <div class="actions">
      <%= f.submit "Update Availability", class: "cyan accent-2 waves-effect btn black-text" %>
    </div>
  <% end %>
  <h3>Unrated Crashes</h3>
  <% @unrated_crashes.each do |crash| %>
    <ul>
      <li><%= crash.crasher.full_name %> crashed at your place on <%= crash.date.strftime('%x') %></li>
      <li>They offered you the following: <%= crash.item_for_exchange %></li>
      <li><%= link_to 'Click here to review this crash', new_review_path(crash: crash.id)%> </li>
    </ul>
  <% end %>
<% end %>

<%= link_to 'Back', students_path %>
