<%= form_for(@crash) do |f| %>
  <% if @crash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crash.errors.count, "error") %> prohibited this crash from being saved:</h2>

      <ul>
      <% @crash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :item_for_exchange %><br>
    <%= f.text_field :item_for_exchange %>
  </div>
  <div class="field">
    <%= f.label :host_id %><br>
    <%= f.number_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :crasher_id %><br>
    <%= f.number_field :crasher_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
