<p id="notice"><%= notice %></p>

<h1>Profile Page</h1>

<% if !@pending_hostings.empty? %>
  <h2>Your Crash Requests</h2>
  <p>Ready to host? Review these crashers who've requested to be your guest.</p>

  <table>
    <thead>
      <tr>
        <th>Crasher</th>
        <th>Date</th>
        <th>Crasher Offer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @pending_hostings.each do |hosting| %>
        <tr>
          <td><%= hosting.crasher.full_name %></td>
          <td><%= hosting.date %></td>
          <td><%= hosting.item_for_exchange %></td>
          <td><%= link_to 'Show', crash_path(hosting) %></td>
          <td><%= link_to 'Edit', edit_crash_path(hosting) %></td>
          <td><%= link_to 'Destroy', hosting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if !@requested_crashes.empty? %>
  <h2>Hosting Requests</h2>

  <p>Hang tight. These crash requests have yet to be reviewed by their host.</p>

  <table>
    <thead>
      <tr>
        <th>Host</th>
        <th>Date</th>
        <th>Crasher Offer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @requested_crashes.each do |crash| %>
        <tr>
          <td><%= crash.host.full_name %></td>
          <td><%= crash.date %></td>
          <td><%= crash.item_for_exchange %></td>
          <td><%= link_to 'Show', crash_path(crash) %></td>
          <td><%= link_to 'Edit', edit_crash_path(crash) %></td>
          <td><%= link_to 'Destroy', crash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if !@crashes.empty? %>
  <h2>Your Crashes</h2>

  <table>
    <thead>
      <tr>
        <th>Host</th>
        <th>Date</th>
        <th>Your Exchange</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @crashes.each do |crash| %>
        <tr>
          <td><%= crash.host.full_name %></td>
          <td><%= crash.date %></td>
          <td><%= crash.item_for_exchange %></td>
          <td><%= link_to 'Show', crash_path(crash) %></td>
          <td><%= link_to 'Edit', edit_crash_path(crash) %></td>
          <td><%= link_to 'Destroy', crash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>
<%= link_to 'New Crash', new_crash_path %>
<br>
<% if !@hostings.empty? %>

  <h2>Your Hostings</h2>

  <table>
    <thead>
      <tr>
        <th>Crasher</th>
        <th>Date</th>
        <th>Crasher Offer</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @hostings.each do |hosting| %>
        <tr>
          <td><%= hosting.crasher.full_name %></td>
          <td><%= hosting.date %></td>
          <td><%= hosting.item_for_exchange %></td>
          <td><%= link_to 'Show', crash_path(hosting) %></td>
          <td><%= link_to 'Edit', edit_crash_path(hosting) %></td>
          <td><%= link_to 'Destroy', hosting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <% end %>