<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @crash.date %>
</p>

<p>
  <strong>Item for exchange:</strong>
  <%= @crash.item_for_exchange %>
</p>

<p>
  <strong>Host:</strong>
  <%= @crash.host.full_name %> 
  <% if @crash.host_id != current_user.id %>
    (<%= link_to "View Profile", student_info_path(@crash.host) %>)
  <% end %>
</p>

<p>
  <strong>Crasher:</strong>
  <%= @crash.crasher.full_name %> 
  <% if @crash.crasher_id != current_user.id %>
    (<%= link_to "View Profile", student_info_path(@crash.crasher) %>)
  <% end %>
</p>

<%= link_to 'Back', crashes_path %>
